@model Eshop.RazorPage.ViewModels.Users.Addresses.CreateUserAddressViewModel

<form data-ajax="true" method="post" asp-page="Index" asp-page-handler="AddAddress">
    <div class="row">
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f=>f.Shire)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f=>f.City)
        </div>
        <div class="col-lg-12 mb-3">
            @Html.EditorFor(f=>f.PostalCode)
        </div>
        <div class="col-lg-12 mb-3">
            @Html.EditorFor(f=>f.PostalAddress)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f => f.Name)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f => f.Family)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f => f.PhoneNumber)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(f => f.NationalCode)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        ذخیره تغییرات <i class="fad fa-money-check-edit"></i>
    </button>
</form>
