@model Eshop.RazorPage.ViewModels.SeoDataViewModel
<div class="col-md-6">
    @Html.EditorFor(f=>f.MetaTitle)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.MetaKeyWords)
</div>
<div class="col-md-12">
    @Html.EditorFor(f=>f.MetaDescription)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.Canonical)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.IndexPage)
</div>
<div class="col-md-12">
    @Html.EditorFor(f=>f.Schema)
</div>