@page
@using System.Security.Claims
@using Eshop.RazorPage.Infrastructure
@using Eshop.RazorPage.Models.Banners
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var banners = Model.MainPageData.Banners;
    var topSlider = banners.FirstOrDefault(f => f.Position == BannerPosition.بالای_اسلایدر);
    var leftSlider = banners.Where(f => f.Position == BannerPosition.سمت_چپ_اسلایدر).ToList();
    var rightSpecial = banners.Where(f => f.Position == BannerPosition.سمت_راست_شگفت_انگیز).ToList();
    var middlePage = banners.Where(f => f.Position == BannerPosition.وسط_صفحه).ToList();

}
@if (topSlider != null)
{
    <div class="row d-none d-sm-block">
        <div class="col-12 mb-3">
            <div class="banner">
                <a href="@topSlider.Link">
                    <img src="@Directories.GetBannerImage(topSlider.ImageName)" alt="topSlider">
                </a>
            </div>
        </div>
    </div>
}
<div class="row mb-4">
    <div class="col-lg-8 ml-lg-0 mb-3">
        <div class="main-slider">
            <div class="swiper-container main-page-slider">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.MainPageData.Sliders)
                    {
                        <div class="swiper-slide">
                            <a href="@item.Link">
                                <img src="@Directories.GetSliderImages(item.ImageName)" alt="@item.Title">
                            </a>
                        </div>

                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper-container main-page-slider-thumbs d-none d-sm-block">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.MainPageData.Sliders)
                    {
                        <div class="swiper-slide">
                            <span>@item.Title</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            @if (leftSlider.Any())
            {
                @foreach (var item in leftSlider.Take(2))
                {
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="banner mb-3">
                            <a href="@item.Link">
                                <img src="@Directories.GetBannerImage(item.ImageName)" alt="leftSlider">
                            </a>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<div class="row align-items-center mb-4">
    <div class="col-lg-4 order-2 order-lg-1">
        <div class="row mt-4 mt-lg-0">
            @if (rightSpecial.Any())
            {
                @foreach (var item in rightSpecial.Take(2))
                {
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="banner mb-3">
                            <a href="@item.Link">
                                <img src="@Directories.GetBannerImage(item.ImageName)" alt="rightSlider">
                            </a>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
    @if (Model.MainPageData.SpectialProducts.Any())
    {
        <div class="col-lg-8 order-1 order-lg-2">
            <div class="offer-slider-wrapper">
                <div class="offer-slider-title">پیشنهاد شگفت انگیز</div>
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="swiper-container offer-slider">
                            <div class="swiper-wrapper">

                                @foreach (var item in Model.MainPageData.SpectialProducts.OrderByDescending(f => f.Id))
                                {
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="/product/@item.Slug">
                                                        @item.Title
                                                    </a>
                                                </div>
                                                <div class="product-price">
                                                    <del>@item.Price.ToString("#,0") تومان</del>
                                                    @item.TotalPrice.ToString("#,0") تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="/product/@item.Slug">
                                                            <img src="@Directories.GetProductImage(item.ImageName)"
                                                         alt="@item.Title">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center pb-4">
                    <div class="col-lg-8 mt-2 mb-4 mb-lg-0">
                        <div class="offer-slider-thumbs-wrapper">
                            <div class="px-0 px-sm-5">
                                <div class="swiper-container offer-slider-thumbs">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Model.MainPageData.SpectialProducts.OrderByDescending(f => f.Id))
                                        {
                                            <div class="swiper-slide">
                                                <img src="@Directories.GetProductImage(item.ImageName)" alt="@item.Title" />
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="offer-slider-button-next"><i class="far fa-chevron-left"></i></div>
                            <div class="offer-slider-button-prev"><i class="far fa-chevron-right"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-center">
                            <div id="countdown--offer-slider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<section class="product-carousel in-box">
    <div class="section-title">
        <i class="fad fa-pen-nib"></i>
        آخرین محصولات
    </div>
    <div class="swiper-container slider-lg">
        <div class="swiper-wrapper">
            @foreach (var item in Model.MainPageData.LatestProducts)
            {
                <div class="swiper-slide">
                    <partial name="Shared/_ProductCart" model="@item" />
                </div>

            }
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<div class="row mb-5">
    @if (middlePage.Any())
    {
        @foreach (var item in middlePage.Take(2))
        {
            <div class="col-lg-12 col-sm-6 col-12">
                <div class="banner mb-3">
                    <a href="@item.Link">
                        <img src="@Directories.GetBannerImage(item.ImageName)" alt="mSlider">
                    </a>
                </div>
            </div>

        }
    }
</div>
<div class="row mb-5">
    <div class="col-12 mb-4">
        <div class="section-title">
            <i class="fad fa-sort-size-up-alt"></i>
            محبوب ترین محصولات
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            @foreach (var item in Model.MainPageData.TopVisitProducts)
            {
                var link = $"/product/{item.Slug}";

                <div class="col-md-6">
                    <div class="product-card product-card-horizontal border-bottom">
                        <div class="product-card-top">
                            <a href="@link" class="product-image">
                                <img src="@Directories.GetProductImage(item.ImageName)" alt="@item.Title">
                            </a>
                            <div class="product-card-actions">
                            </div>
                        </div>
                        <div class="product-card-middle">
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 65%;"></div>
                                </div>
                            </div>
                            <h6 class="product-name">
                                <a href="@link">@item.Title</a>
                            </h6>
                            <div class="product-price product-price-clone">@item.TotalPrice.ToString("#,0") تومان</div>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-price">
                                @item.TotalPrice.ToString("#,0") تومان
                            </div>
                            <a href="#" class="btn-add-to-cart">
                                <i class="fad fa-cart-plus"></i>
                                افزودن به سبد خرید
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>